div#sidebar dt {
	margin-left: 10px;
	font-weight: bold;
	color: grey;
}

div#keys, div.modules {
	width: 100%;
}

div#keys span {
	margin: 3px;
	font-weight: bold;
}

div.modules {
	border: solid grey 1px;
#	width: 70%;
}

div.module {
	border: solid grey 1px;
	margin: 5px;
	height: 100%;
}

div.success {
	background: #a0ffa0;
}

div.failure {
	background: #ffa0a0;
}

div.differences {
	background: #a0a0ff;
}

div.moduledetail span.status {
	font-weight: bold;
}

div.moduleheader {
	margin: 3px;
	font-weight: bold;
	font-size: 14pt;
	color: grey;
}

div.moduleheader span {
	margin-left: 15px;
	font-size: 9pt;
	color: black;
}

div.module p {
	margin: 1px;
}

div.finished {
	float: right;
	background: #ffe0e0;
	padding: 10px;
}

div.finished a {
	display: block;
}

